{% extends "base.html" %}
{% block content %}
<html>
    <body>
    <form method="post" action=".">
        <p><label for="id_username">id :</label>
        {{ form.username }}</p>
        <p><label for="id_password">password :</label>
        {{ form.password }}</p>
        <button type="submit">sign in</button>
        <input type="hidden" name="next" value="/" /> 
    
    {% if form.non_field_errors %}
    <p>사용자 이름과 비밀번호가 일치하지 않습니다.<p>
    {% endif %} 

    
    </form>
</body>
</html>
{% endblock %}
