{% extends "base.html" %}



{% block pagecss %}


.signpage  {
    display:table-cell;
    vertical-align:middle;
    height:500px;
}

.signpage form{
}


{% endblock %}


{% block content %}
<html>
    <body>
    <div class="signpage">    
    <form method="post" action="." class="form-horizontal">
    <div class="control-group">    
        <label for="id_username" class="control-label">ID :</label>
        <div class="controls">
            {{ form.username }}
        </div>
    </div>
    <div class="control-group">    
        <label for="id_password" class="control-label">PASSWORD :</label>
        <div class="controls">
            {{ form.password }}
        </div>
    </div>
    <div class="control-group">    
        <div class="controls">
            <button type="submit" class="btn">sign in</button>
            <input type="hidden" name="next" value="/" />
        </div>    
    
    </div>
    {% if form.non_field_errors %}
    <p>사용자 이름과 비밀번호가 일치하지 않습니다.<p>
    {% endif %} 

    
    </form>
    </div>
</body>
</html>
{% endblock %}
