{% extends "base.html" %}

{% block title %}{{ head_title }} {% endblock %}

{% block content %}

<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);">
<font size="4" face="Verdana">
<span style="font-family: georgia;">
<b><span style="font-family: 바탕, batang; color: rgb(0, 0, 0); font-size: 18pt;">
1. CSPCLAB의 역사</span></b></span></font></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);">
<font size="4" face="Verdana">
<span style="font-family: georgia;"><br></span></font></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);">
<font size="4" face="Verdana"></font></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"><font size="4"><font face="Verdana"><font color="#007b1d">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">
CSPCLAB은 C</span></font>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">omputer&nbsp;</span><font color="#007b1d">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">S</span></font>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">cience&nbsp;</span><font color="#007b1d">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">P</span></font>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">ersonal&nbsp;</span>
<font color="#007b1d">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">C</span></font>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">omputer's&nbsp;</span>
<font color="#007b1d">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">LAB</span></font>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">oratory의 약자로써,&nbsp;</span></font></font><font size="4" face="Verdana">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">1995년 컴퓨터공학과 선배들이 컴퓨터 실험실(현재는 R관 914호)을 관리하기 위해 창설한 학회입니다.&nbsp;</span></font>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; background-color: rgb(255, 255, 255); color: rgb(99, 99, 99);">연구실을 관리하기 위한 관리자 모임이 만들어지게 되었고, 이것이 현재 CSPCLAB의 원형이 되었습니다.</span></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"><br></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"><br></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"><font size="4" face="Verdana"></font></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"><font size="4" face="Verdana"></font></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"><font face="Verdana"><b><font size="4">
<span style="font-family: 바탕, batang; color: rgb(0, 0, 0); font-size: 18pt;">2. CSPCLAB에서는 무엇을&nbsp;</span><font size="5">
<span style="font-size: 18pt; color: rgb(0, 0, 0); font-family: 바탕, batang;">하</span></font>
<span style="font-size: 18pt; color: rgb(0, 0, 0); font-family: 바탕, batang;">나</span></font>
<font size="6" style="background-color: rgb(0, 142, 55);">
<span style="font-size: 18pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: 바탕, batang;">요</span></font><font size="4">
<span style="font-family: 바탕, batang; color: rgb(0, 0, 0); font-size: 18pt;">?</span></font></b></font></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"><font face="Verdana"><font size="4">
<span style="font-family: georgia;"><br></span></font></font></p>
<p style="line-height: normal; color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);"></p>
<p style="font-family: Arial; line-height: normal; background-color: rgb(255, 255, 255);"></p><p style="font-family: Arial; line-height: normal; background-color: rgb(255, 255, 255);"></p><ul style="line-height: normal; background-color: rgb(255, 255, 255); color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px;"><li style="font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt;">
<span style="color: rgb(99, 99, 99); font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt;">관리:&nbsp;</span>
<span style="color: rgb(99, 99, 99); font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif;">?</span>
<span style="color: rgb(99, 99, 99); font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif;">CSPCLAB은 컴퓨터 공학과 소속 연구실 중의 하나인 리찌과학관(R관) 914호를 관리합니다. 저희가</span>
<span style="color: rgb(99, 99, 99); font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif;">&nbsp;관리하는 컴퓨터는 총 약60여대이며 컴퓨터의 단순 고장을 고칠 뿐 아니라, 컴퓨터를 어떻게 효율적으로 관리할 수 있을지도 고민합니다. 책임감을 가지고 반드시 해야하는 일이지만 많은 컴퓨터들을 관리하면서 이용할 수 있는 기회를 제공받는다는 이점이 있습니다.</span></li></ul><ul style="line-height: normal; background-color: rgb(255, 255, 255); color: rgb(67, 67, 67); font-family: arial, sans-serif; font-size: 13px;"><li style="font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt;">
<span style="font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt; color: rgb(99, 99, 99);">세미나:&nbsp;</span>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; color: rgb(99, 99, 99);">우리 랩실은 기본적으로 관리자 학회이지만, 여러가</span>
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; color: rgb(99, 99, 99);">지 종류의 세미나를 하고 있습니다. 세미나는 주로 발표자가 자발적으로 진행하며 주제는 컴퓨터 전공에 대한 심화적인 내용에서 부터 취미생활 까지 다양합니다.</span></li></ul><ul style="font-family: Arial; line-height: normal; background-color: rgb(255, 255, 255); color: rgb(67, 67, 67);"><li style="font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt;">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; color: rgb(99, 99, 99);">스터디: 신입생에게 필요한 기본적인 지식은 신입생 스터디를 통해 가르칩니다. 그리고 자신이 스터디하고 싶은 분야에 대해 랩원들과 같이 스터디를 진행하기도 합니다.</span></li></ul><ul style="font-family: Arial; line-height: normal; background-color: rgb(255, 255, 255); color: rgb(67, 67, 67);"><li style="font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt;"><font face="Verdana">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; color: rgb(99, 99, 99);">프로젝트: 랩실에 들어와서 거의 모든 사람이 최소한 한개의 프로젝트는 수행합니다. 이때 프로젝트는 학교 수업에서 내주는 숙제가 아니라 자신이 정하거나 랩원들이 추천해준 흥미로운 주제로 진행합니다.&nbsp;</span></font></li></ul><ul style="font-family: Arial; line-height: normal; background-color: rgb(255, 255, 255); color: rgb(67, 67, 67);"><li style="font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt;"><font face="Verdana">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; color: rgb(99, 99, 99);">MT, 크리스마스 파티: 보통 여름방학, 겨울방학에 MT를 갑니다. 많은 사람들이 같이가며 다들 가족같기 때문에 편하게 즐기고 올 수 있습니다. 크리스마스 파티는 매년 12월 말에 CSPCLAB의 졸업하신 선배들부터 1학년 재학생까지 모든 CSPCLAB원이 파티를 하는 것입니다. 선물교환식과 장기자랑, 맛있는 음식, 선배들과의 대화등 재밌고 유익한 시간을 가질 수 있습니다.</span></font></li></ul><ul style="font-family: Arial; line-height: normal; background-color: rgb(255, 255, 255); color: rgb(67, 67, 67);"><li style="font-family: 나눔고딕, NanumGothic, sans-serif; font-size: 12pt;"><font face="Verdana">
<span style="font-size: 12pt; font-family: 나눔고딕, NanumGothic, sans-serif; color: rgb(99, 99, 99);">다양한 이벤트: 저희는 MT이외에도 평소에 다양한 일을 많이 합니다. 눈이 많이 내리면 이글루를 만들기도 하고 할로윈에는 호박을 파기도 합니다. 갑자기 생일파티를 해줄 때도 있고 여행을 가기도 합니다.</span></font></li></ul>

{% endblock %}
