{% extends "base.html" %}

{% block title %}{{ head_title }} {% endblock %}
{% block content%}
1.CSPCLAB이란?</br>
</br>
CSPCLAB은 서강대학교 컴퓨터공학과 소속 랩실인 R914를 관리하는 곳입니다.</br>
컴퓨터공학과 수업에 사용되는 약 60대 가량의 컴퓨터들을 유지하고 관리하는 업무를 주로 하고 있으며,</br>
삼성 Software Friendship 우수IT 동아리에 선정되어, 다양한 지원을 받으며 여러 프로그램 개발에 힘쓰고 있습니다.</br>
</br>
2.CSPCLAB이 하는 일</br>
</br>
관리:      R914 내의 컴퓨터의 단순 고장을 고치고, 수업에 필요한 소프트웨어들을 설치하는 등, 컴퓨터공학과 교수님들과 </br>
           학생들의 편의를 위해 노력하고 있습니다.</br>
           또한 랩실 전체의 효율적인 관리를 위한 프로그램 개발 프로젝트 역시 진행하고 있습니다.</br>
</br>
학술 활동: CSPCLAB 내에서는 랩원 주도의 여러 세미나들이 진행되고 있습니다.</br>
           그 주제는 프로그래밍 언어, 학과 수업, 컴퓨터 관리 등 다양하며,</br>
           발표식 세미나 이외에도 스터디, 1:1 튜터링 등 다양한 방식의 상호 학술 교류가 이루어지고 있습니다</br>
</br>
프로젝트:  여름방학, 겨울방학 마다 CSPCLAB에서는 다양한 프로젝트를 기획,진행하고 있습니다.</br>
           프로젝트의 주제는 랩실 관리 프로그램, Kinect, Web 개발 등 다양하며, 이렇게 개발한 프로그램들은</br>
           R914 관리, 소프트웨어 공모전, 자체 발표회 등 다양한 곳에 활용되고 있습니다.</br>
</br>
친목 도모: 관리자들은 MT, 크리스마스 파티 등 다양한 행사들을 통해 친목 도모를  하고 있습니다.</br>
           MT는 매년 하계,동계로 나누어 주로 여름방학과 겨울방학에 진행하며,</br>
           크리스마스 파티는 매년 12월 말 CSPCLAB을 거쳐가신 모든 선배님들과 현재 랩원들이 한 장소에 모여</br>
           저녁 식사, 선물 교환, 선배들과의 대화 등 유익한 시간을 보낼 수 있는 행사로 기획, 진행되고 있습니다.</br>
           또한 이외에도 이글루 만들기, 할로윈 호박 파기, 생일 파티 등 여러가지 행사를 통해 CSPCLAB 내 친목 도모에</br>
           힘쓰고 있습니다.</br>
{% endblock %}

