{% extends "base.html" %}
{% block content %}

Achievements

    2013

            -삼성소프트웨어 동아리 챔피언십 2등 (김보성, 고원섭, 박송현, 박지수)

                2012

                        -삼성 소프트웨어 프랜드십 선정 우수 IT 동아리

                                -서강대학교 캡스톤 경진대회 대상 (백승환, 조규현)

                                        -서강대학교 캡스톤 경진대회 금상 (김태현, 정진우)

                                                -서강대학교 컴퓨터공학과 앱 경진대회 대상 (백승환, 조규현)

                                                        -서울어코드 ITEMSHOW 발명진흥원장상 (백승환, 조규현)

                                                                -대학생 프로그래밍 경진대회(ACM-ICPC) 은상 (최백준)

                                                                        

                                                                    2011

                                                                            -대학생 프로그래밍 경진대회(ACM-ICPC) 은상 (백승환, 조규현)

                                                                                2010

                                                                                        -ACM-ICPC The World Finals 36th place (김우현, 안재원, 최백준)

                                                                                            2009

                                                                                                    -ACM-ICPC Amritapuri Regional 1th place (김우현, 안재원, 최백준)

                                                                                                            -Codegate 우승 (김우현)

                                                                                                                2008

                                                                                                                        -제1회 자바 알고리즘 대회 3등 (김우현, 안재원, 최백준)

                                                                                                                                -미국 데프콘 해킹 대회 (김우현)



{% endblock %}

