{% extends "base.html" %}

{% block pagecss %}

.writebtn {
    float:right;
    margin-top:-50px;
}

.pagination {
    text-align:center;

}

{% endblock %}


{% block content %}
<table class="table  table-striped">
    <colgroup><col class="boardcol_title"><col class="boardcol_name"><col class="boardcol_date"></colgroup>
    <thead class="board_thead">
        <tr>
            <th>제목</th>
            <th>글쓴이</th>
            <th>날짜</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td><a href = "/board/read/{{entry.id}}" >{{entry.title}}</a></td>
            <td> {{entry.user.username}} </td>
            <td> {{entry.updatedDate}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination pagination-small"> 
    <ul>
        <li><a href="">Prev</a></li>
        {% for each_page in num_pages %}
        <li><a href="/board/list/{{category}}/{{each_page}}">{{each_page}}</a></li>
        {% endfor %}
        <li><a href="">Next</a></li>
    </ul>
</div>

<div id="writeBtn" class="btn writebtn">글쓰기</div>
<script type="text/javascript">
    (function() {
     $("#writeBtn").click(function() {
         window.location.href = window.location.href.split("board")[0]+"board/write/{{category}}";          
         });
    })()

</script>    
{% endblock %}

