{% extends "base.html" %}
{% block content %}
<div>
    <h3> <a href = "/board/read/{{current_entry.id}}">{{current_entry.title}}</a></h3>
    <ul>
    <li> category: {{current_entry.category.title}} </li>
    <li> {{current_entry.createdDate}} </li>
    </ul>

    <div> 내용:<br> {{current_entry.content}} </div>
    <br>
    <div> 첨부파일:<br> <a href="/board/download/{{current_entry.attachedFile}}">{{current_entry.attachedFile}}</a></div>
</div>
-------------------------<br>
<div>
    {% include 'comments.html' %}
    <form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <dl>
        <dt>
        <label>
            {{ field.label_tag }}
        </label>
        <dd>
        {{ field }}
        {% for error in field.errors %}
         {{ error }}
        {% endfor %}
        </dd>
    </dl>
    {% endfor %}
    <input type="submit" value="add comment"/>
    </form>
</div>
{% endblock %}
